# Dependencies
node_modules
.pnpm-store

# Build
dist
build

# Docs
docs

# Scripts
scripts

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Logs
*.log
pnpm-debug.log*

# Env
env
.env
.env.*
!.env.example

# IDEs
.vscode
