# Environment Configuration Example
# Copy this file to .env and fill in the values before running the application

# Node Environment
NODE_ENV=# local, development, production

# API Configuration
API_PREFIX=your_api_prefix

# Database Configuration
DB_HOST=your_database_host
DB_PORT=your_database_port
DB_USERNAME=your_database_username
DB_PASSWORD=your_database_password
DB_NAME=your_database_name
DB_SSL=true_or_false

# Seed Users Credentials
EMAIL_ADMIN=your_admin_email
EMAIL_EMPLOYEE=your_employee_email
ADMIN_PASSWORD=your_admin_password
EMPLOYEE_PASSWORD=your_employee_password

# COOKIES
COOKIE_DOMAIN=your_cookie_domain
COOKIE_SAME_SITE=your_cookie_same_site
COOKIE_SECURE=true_or_false_based_on_your_environment

# Cloudflare
ACCOUNT_ID=your_account_id
ACCESS_KEY_ID=your_access_key_id
SECRET_ACCESS_KEY=your_secret_access_key
BUCKET_NAME=your_bucket_name
BASE_URL=your_base_url
BASE_URL_IMAGES=your_base_url_for_images_NOT_END_IN_SLASH

# Email Service Configuration
EMAIL_HOST=your_email_smtp_host
EMAIL_PORT=your_email_smtp_port
EMAIL_USER=your_email_smtp_user
EMAIL_PASS=your_email_smtp_password
EMAIL_FROM=your_email_from_address # without @ | example mail.example.com NO @mail.example.com

# Loki Configuration (Optional - for production logging)
LOKI_HOST=http://localhost:3100
ENABLE_LOKI=true_or_false
LOKI_USERNAME=# Optional: basic auth username for Loki
LOKI_PASSWORD=# Optional: basic auth password for Loki