# Node Environment
NODE_ENV=# local, development, production

# API Configuration
API_PREFIX=your_api_prefix
API_PORT=your_api_port

# Database Configuration
DB_HOST=your_database_host
DB_PORT=your_database_port
DB_USERNAME=your_database_username
DB_PASSWORD=your_database_password
DB_NAME=your_database_name
DB_SSL=true_or_false

# S3 Configuration
ACCOUNT_ID=your_account_id
ACCESS_KEY_ID=your_access_key_id
SECRET_ACCESS_KEY=your_secret_access_key
BUCKET_NAME=your_bucket_name
BASE_URL=your_base_url
BASE_URL_IMAGES=your_base_url_for_images_NOT_END_IN_SLASH

AWS_COGNITO_USER_POOL_ID=your_cognito_user_pool_id
AWS_COGNITO_REGION=your_cognito_region
AWS_COGNITO_CLIENT_ID=your_cognito_client_id
AWS_COGNITO_INTERNAL_AUTH_TOKEN=your_cognito_internal_auth_token